
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>STG Data Warehouse</title>
</head>
<img src="/static/crabs.jpg" alt="Crabs" style="width:200px;height200px">
<div class=page>
  <h3>These are all the experiments with uploaded files:</h3>
  <p>  
  <form method="post" action="/dl-files-page"> 
    <div>{{ form.identifier.label }}: {{ form.identifier(class="css_class") }}</div>
      {% for error in form.identifier.errors %}
        <span style="color: red;">[Invalid identifier]</span>
      {% endfor %}
    <p><input type=submit value="Download Files for Selected Experiment" style="height: 40px; width: 230px">
  </form>  
   {{table_html | safe}}  
  <body>   
    <p>Back to <a href="{{ url_for('download_page') }}">data page</a></p>
  </body>    
</div>