    <!doctype html>
    <title>STG Data Warehouse</title>
    <img src="/static/crabs.jpg" alt="Crabs" style="width:200px;height200px">
    <h3>Select file to upload for experiment {{name}}</h3>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value="Upload File" style="height: 40px; width: 180px">
       <p>
    	<div>{{ form.read_me.label }} <p> {{ form.read_me(cols="80", rows="20") }}</div>  
    </form>
    <p>    
    <p>Nevermind, back to <a href="{{ url_for('experiment_page') }}">experiment</a></p>
