
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>STG Data Warehouse</title>
</head>
<img src="/static/crabs.jpg" alt="Crabs" style="width:200px;height200px">
<div class=page>
  <h3>Here are the files for this experiment:</h3>
  {{table_html | safe}}
  <p><p>
  <h3>Click the button to download as a zip file:</h3>
  <form method="post" action="/file-download"> 
    <p><input type=submit value="Download Files" style="height: 40px; width: 180px">
  </form>
  <body>         
    <p>Nevermind, back to <a href="{{ url_for('download_page') }}">data page</a></p>
  </body>  
</div>