
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Pyloric Data Warehouse</title>
</head>
<div class=page>
  <h3>Welcome to the Pyloric Data Warehouse!</h3>
  <h3>This is the HOME PAGE!!</h3>
  {% if current_user.is_authenticated %}
  	<h3>You are currently signed in as {{ current_user.id }}</h3>
  	<h3>Your email is {{ current_user.email }} and your lab is {{ current_user.lab }}</h3>
  	 {% if current_user.id == "Admin" %}
      <p><a href="{{ url_for('admin_page') }}">Admin Page </a></p>  
     {% else %}
  	  <p><a href="{{ url_for('edit_user') }}">Edit user info</a> / <a href="{{ url_for('password_change') }}">Change password</a></p> 
  	 {% endif %} 	
  	<p><a href="{{ url_for('sign_out') }}">Sign out</a></p> 
  {% else %} 
    <h3>You are not signed in.</h3>
    <p><a href="{{ url_for('sign_in') }}">Sign in</a></p> 
     
    <p><a href="{{ url_for('new_user') }}">Create new user</a></p>
  {% endif %}
    <body>
    <p><a href="{{ url_for('download_page') }}">Download Page (no log-in required)</a></p>
    <p><a href="{{ url_for('upload_page') }}">Upload Page (must be signed-in)</a></p>  
  </body>
</div>