
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>STG Data Warehouse</title>
</head>
<div class=page>
  <h3>Enter information below to set up new user:</h3>
  <form method="post" action="/new-user"> 
    <div>{{ form.username.label }}: {{ form.username(class="css_class") }}</div>
      {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
      <p>
    <div>{{ form.password.label }}: {{ form.password() }}</div>
      <p>
    <div>{{ form.confirm.label }}: {{ form.confirm()  }} -- These must match!</div>
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <p>
    <div>{{ form.email.label }}: {{ form.email(class="css_class") }}</div>
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <p>    
    <div>{{ form.surname.label }}: {{ form.surname(class="css_class") }}</div>
      {% for error in form.surname.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %} 
      <p>   
    <div>{{ form.lab.label }}: {{ form.lab(class="css_class") }}</div>
      {% for error in form.lab.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}  
      <p>              
    <p><input type=submit value=Submit>
  </form>
  <p><a href="{{ url_for('index') }}">Nevermind, Back to Home</a></p>    
</div>