
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Pyloric Data Warehouse</title>
</head>
<div class=page>
  <h4> {{ msg }} </h4>
  <form method="post" action="/password-change"> 
    <div>{{ form.oldpassword.label }}: {{ form.oldpassword }}</div>
      {% for error in form.oldpassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.password.label }}: {{ form.password }}</div>
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.confirm.label }}: {{ form.confirm }}</div>             
    <p><input type=submit value=Submit>
  </form>
  <p><a href="{{ url_for('index') }}">Nevermind, Back to Home</a></p>    
</div>