
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>STG Data Warehouse</title>
</head>
<img src="/static/crabs.jpg" alt="Crabs" style="width:200px;height200px">
<div class=page>
  <h3> {{ msg }} </h3>
  <form method="post" action="/password-change"> 
    <div>{{ form.oldpassword.label }}: {{ form.oldpassword }}</div>
      {% for error in form.oldpassword.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
      <p>
    <div>{{ form.password.label }}: {{ form.password }}</div>
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}   
      <p> 
    <div>{{ form.confirm.label }}: {{ form.confirm }}</div>             
    <p><input type=submit value=Submit style="height: 40px; width: 180px">
  </form>
  <p>Nevermind, <a href="{{ url_for('index') }}">back to home</a></p>    
</div>