
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>STG Data Warehouse</title>
</head>
<img src="/static/crabs.jpg" alt="Crabs" style="width:200px;height200px">
<div class=page>
  <h3>Enter any available processed (numerical) data for the experiment {{name}}</h3>
  <h3>Condition = {{cond}}</h3>
      <div>{{ form.temp.label }}: {{ form.temp(class="css_class") }}</div>
      {% for error in form.temp.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}  <p>
  <h4>Rhythm frequency data:</h4>
    <form method="post" action="/processed-data"> 
    <div>{{ form.pyl_hz.label }}: {{ form.pyl_hz(class="css_class") }}</div>
      {% for error in form.pyl_hz.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.gas_hz.label }}: {{ form.gas_hz(class="css_class") }}</div>
      {% for error in form.gas_hz.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <h4>Rhythm variability data:</h4>    
    <div>{{ form.pyl_cycvar.label }}: {{ form.pyl_cycvar(class="css_class") }}</div>
      {% for error in form.pyl_cycvar.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.pyl_niqr.label }}: {{ form.pyl_niqr(class="css_class") }}</div>
      {% for error in form.pyl_niqr.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}       
    <div>{{ form.gas_cycvar.label }}: {{ form.gas_cycvar(class="css_class") }}</div>
      {% for error in form.gas_cycvar.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.gas_niqr.label }}: {{ form.gas_niqr(class="css_class") }}</div>
      {% for error in form.gas_niqr.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %} 
    <h4>PD neuron data:</h4>     
    <div>{{ form.pd_off.label }}: {{ form.pd_off(class="css_class") }}</div>
      {% for error in form.pd_off.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.pd_spikes.label }}: {{ form.pd_spikes(class="css_class") }}</div>
      {% for error in form.pd_spikes.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}  
    <h4>LP neuron data:</h4>    
    <div>{{ form.lp_on.label }}: {{ form.lp_on(class="css_class") }}</div>
      {% for error in form.lp_on.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.lp_off.label }}: {{ form.lp_off(class="css_class") }}</div>
      {% for error in form.lp_off.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.lp_spikes.label }}: {{ form.lp_spikes(class="css_class") }}</div>
      {% for error in form.lp_spikes.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %} 
    <h4>PY neuron data:</h4>       
    <div>{{ form.py_on.label }}: {{ form.py_on(class="css_class") }}</div>
      {% for error in form.py_on.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.py_off.label }}: {{ form.py_off(class="css_class") }}</div>
      {% for error in form.py_off.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.py_spikes.label }}: {{ form.py_spikes(class="css_class") }}</div>
      {% for error in form.py_spikes.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}  
    <h4>VD neuron data:</h4>
    <div>{{ form.vd_on.label }}: {{ form.vd_on(class="css_class") }}</div>
      {% for error in form.vd_on.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.vd_off.label }}: {{ form.vd_off(class="css_class") }}</div>
      {% for error in form.vd_off.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.vd_spikes.label }}: {{ form.vd_spikes(class="css_class") }}</div>
      {% for error in form.vd_spikes.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}  
    <h4>LG neuron data:</h4>        
    <div>{{ form.lg_off.label }}: {{ form.lg_off(class="css_class") }}</div>
      {% for error in form.lg_off.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.lg_spikes.label }}: {{ form.lg_spikes(class="css_class") }}</div>
      {% for error in form.lg_spikes.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}   
    <h4>DG neuron data:</h4> 
    <div>{{ form.dg_on.label }}: {{ form.dg_on(class="css_class") }}</div>
      {% for error in form.dg_on.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.dg_off.label }}: {{ form.dg_off(class="css_class") }}</div>
      {% for error in form.dg_off.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.dg_spikes.label }}: {{ form.dg_spikes(class="css_class") }}</div>
      {% for error in form.dg_spikes.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}  
    <h4>GM neuron data:</h4>    
    <div>{{ form.gm_on.label }}: {{ form.gm_on(class="css_class") }}</div>
      {% for error in form.gm_on.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.gm_off.label }}: {{ form.gm_off(class="css_class") }}</div>
      {% for error in form.gm_off.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.gm_spikes.label }}: {{ form.gm_spikes(class="css_class") }}</div>
      {% for error in form.gm_spikes.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    <h4>MG neuron data:</h4>
    <div>{{ form.mg_on.label }}: {{ form.mg_on(class="css_class") }}</div>
      {% for error in form.mg_on.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.mg_off.label }}: {{ form.mg_off(class="css_class") }}</div>
      {% for error in form.mg_off.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.mg_spikes.label }}: {{ form.mg_spikes(class="css_class") }}</div>
      {% for error in form.mg_spikes.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %} 
    <h4>Blank fields:</h4>       
    <div>{{ form.blank1.label }}: {{ form.blank1(class="css_class") }}</div>
      {% for error in form.blank1.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.blank2.label }}: {{ form.blank2(class="css_class") }}</div>
      {% for error in form.blank2.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}    
    <div>{{ form.blank3.label }}: {{ form.blank3(class="css_class") }}</div>
      {% for error in form.blank3.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}                                         
    <p><input type=submit value=Submit style="height: 40px; width: 140px">
  </form>
  <p>Nevermind, back to <a href="{{ url_for('upload_page') }}">experiments page</a></p>    
</div>