
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>STG Data Warehouse</title>
</head>
<img src="/static/crabs.jpg" alt="Crabs" style="width:200px;height200px">
<div class=page>
  <h4>Enter user credentials:</h4>
  <form method="post" action="/login"> 
    <div>{{ form.username.label }}: {{ form.username(class="css_class") }}</div>
    <p>
    <div>{{ form.password.label }}: {{ form.password() }}</div>
    <p><input type=submit value=Submit style="height: 40px; width: 180px">
  </form>
  <p>Nevermind, <a href="{{ url_for('index') }}">back to home</a></p>    
</div>